/*
	Arquivo CSS - Honker Burguer
	Autor: Gabriel Testa - INF3T
	Período: fev/2017 - jun/2017
	Validação CSS3 W3C - 0 erros encontrados.
*/
/* Geral */
body
{
	font-family: Calibri;
	color: #A88B00;
	background-image:url("../Imagens/bg.jpg");
	background-color: #000;
}

a
{
	text-decoration:none;
	color: inherit;
}

#principal
{
	width: 1890px;
	height: 1400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	
}

#titulo h6
{
	font-size:24pt;
	text-align:center;
	font-family: Arial;
}

#titulo
{
	width:100%;
	height:150px;
	margin-top:-50px;
	border-bottom: solid 1px #A88B00;
	float: left;
	background-color:#2A2A2A;
}

input
{
	border: solid 1px #A88B00;
}

/**/

/* Redes Sociais */
#redeSocial1
{
	width:75px;
	height:75px;
	
	border:solid 1px #A88B00;
	border-bottom:none;
	
	position: fixed;
	margin-left: 1800px;
	margin-top: 350px;
}

#redeSocial1 img
{
	width:75px;
	height:75px;
}

#redeSocial2
{
	width:75px;
	height:75px;
	
	border:solid 1px #A88B00;
	border-bottom:none;
	
	position: fixed;
	margin-left: 1800px;
	margin-top: 425px;
}

#redeSocial2 img
{
	width:75px;
	height:75px;
}

#redeSocial3
{
	width:75px;
	height:75px;
	
	border:solid 1px #A88B00;
	
	position: fixed;
	margin-left: 1800px;
	margin-top: 500px;
}

#redeSocial3 img
{
	width:75px;
	height:75px;
}
/**/

/* Painel Superior */
#painelSuperior
{
	width: 1888px;
	height: 100px;
	position:fixed;
	border: solid 1px #A88B00;
	border-top: none;
	background-color: #2A2A2A;
	
	z-index:99;
	
	
}

header
{
	width: 300px;
	height: 100px;
	float: left;
}

nav
{
	width: 1200px;
	height: 100px;
	float: left;
	border-right: solid 1px #A88B00;
	border-left: solid 1px #A88B00;
}

nav li
{
	list-style:none;
	float: left;
	padding:25px;
	font-size:18px;
}

nav li:hover
{
	font-weight:bold;
	font-size: 20px;
	margin-top: -2px;
}

#login
{
	width: 300px;
	height: 85px;
	
	float:left;
	margin-left:30px;
	margin-top:15px;
}

#login input[type=text]
{
	border: solid 1px #A88B00;
	width:90%;
}

#login input[type=password]
{
	border: solid 1px #A88B00;
	width:90%;
}
/**/

/* Rodapé */
footer
{
	width: 1700px;
	height: 100px;
	background-color:#2A2A2A;
	position:relative;

	margin-left:4.95%;
	
	border: solid 1px #A88B00;
	border-top: none;
	float:left;
}
footer table
{
	margin-left:5px;
	margin-top:5px;
	
	width: 20%;
	height: 10%;
	font-size:14pt;
	
	float:left;
}

#tblEndereco
{
	float:right;
	text-align: right;
	margin-right: 5px;
}

.footerTitulo
{
	font-weight:bold;
}
/**/

/* Fale Conosco */
#principalFC
{
	width: 1890px;
	height: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	
}

/**/





.conteudoExterno
{
	width: 1700px;
	height:1200px;	
	
	
	padding-top:100px;
	margin-left:auto;
	margin-right:auto;
	
	border: solid 1px #A88B00;
	border-top: none;
	
	z-index:-1;
}

/* Home */
#menuSecundario
{
	width:12.175%;
	height:949px;

	background-color:#2A2A2A;
	float:left;
}

.listaMenuSecundario
{
	list-style:none;
	margin-left: -17.5%;
	
}

.listaMenuSecundario li
{
	height:30px;
	width:100%;
	vertical-align: middle;
	padding-top:5px;
}

.listaMenuSecundario li:hover
{
	background-color: #A88B00;
	border-radius:10px 0px 0px 10px;
	color: #2A2A2A;
	font-weight: bold;
}

#areaDisplay
{
	
	width: 87.5%;
	height:949px;
	float:left;
	
	
	background-image:url("../Imagens/bginterno.jpg");
	background-position: -50px -150px;
	border-left: solid 1px #A88B00;
	overflow-y: auto;
}

.displayHamburguer
{
	width: 365px;
	height: 400px;
	position:relative;
	
	margin-left: 100px;
	margin-top: 50px;
	
	border: solid 1px #A88B00;
	float:left;
	
	background-color:#2A2A2A;
}

.displayHamburguer img
{
	width:200px;
	height:200px;
	margin-left:80px;
	margin-top:25px;
	border: solid 1px #A88B00;
	
}

.displayHamburguer h3
{
	text-align:center;
	vertical-align: middle;
}

.displayDescricao
{
	text-align:justify;
	text-indent: 20px;
	padding: 10px;
	margin-top: -15px;
	height: 70px;
	
	overflow-y: hidden;
}

.displayPreco
{
	text-align:right;
	text-indent: 20px;
	margin-right:10px;
	margin-top: -5px;
	
}
/**/

/* Slider */


.rotator
{
	width: 1700px;
	height:250px;
	
	margin:0px auto;
    position:relative;
    font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:-1px;
    overflow:hidden;
    box-shadow:0px 0px 10px #222;
	border-bottom: solid 1px #A88B00;
}

img.bg{
    position:absolute;
    top:0px;
    left:0px;

}

.rotator ul{
    list-style:none;
    position:absolute;
    right:0px;
    top:0px;
    margin-top:6px;
    z-index:8;
}
.rotator ul li{
    display:block;
    float:left;
    clear:both;
    width:230px;
}
.rotator ul li a{
    width:230px;
    height:52px;
    float:right;
    clear:both;
    padding-left:10px;
    text-decoration:none;
    display:block;
    line-height:52px;
    background-color:#222;
    margin:1px -20px 1px 0px;
    opacity:0.7;
    color:#f0f0f0;
    font-size:20px;
    border:2px solid #000;
    border-right:none;
    outline:none;
    text-shadow:-1px 1px 1px #000;
    border-radius:10px 0px 0px 20px;
    border-top-left-radius:10px;
    border-bottom-left-radius:20px;
}
.rotator ul li a:hover{
      text-shadow:0px 0px 2px #fff;
}

.rotator .heading{
    position:absolute;
    top:0px;
    left:0px;
    width:500px;
}
.rotator .heading h1{
    text-shadow:-1px 1px 1px #555;
    font-weight:normal;
    font-size:46px;
    padding:20px;
}
.rotator .description{
    width:600px;
    height:80px;
    position:absolute;
    bottom:0px;
    left:0px;
    padding:20px;
    background-color:#222;
   
    border-top-right-radius:10px;
    opacity:0.7;
    border-top:2px solid #000;
    border-right:2px solid #000;
}
.rotator .description p{
    text-shadow:-1px 1px 1px #000;
    text-transform:none;
    letter-spacing:normal;
    line-height:26px;
}
a.mais{
    color:orange;
    text-decoration:none;
    text-transform:uppercase;
    font-size:12px;
	float:right;
	margin-top: 30px;
}
a.mais:hover{
    color:#fff;
}

.infoRotator
{
	display:none;
}
/**/

/* Fale Conosco */
.conteudoInternoFC
{
	width: 80%;
	height:100%;
	
	
	background-color: #2A2A2A;
	float:left;
}
.bgLeftFC
{
	width:10%;
	height:100%;
	
	background-image:url("../Imagens/FaleConosco/feedbackLeft.png");
	background-repeat: no-repeat;
	float:left;
}

.bgRightFC
{
	width:10%;
	height:100%;
	
	background-image:url("../Imagens/FaleConosco/feedbackRight.png");
	background-repeat: no-repeat;
	float:left;
}

.conteudoExternoFC
{
	width: 1700px;
	height:740px;	
	
	
	padding-top:100px;
	margin-left:auto;
	margin-right:auto;
	background-color:#2A2A2A;
	
	border: solid 1px #A88B00;
	border-top: none;
	
	z-index:-1;
}

.conteudoInternoFC td
{
	padding-left: 25px;
}

#tblFaleConosco
{
	width: 1325px;
	margin-top: 200px;

}

#tblFaleConosco input[type=text]
{
	width: 625px;
}
#rdSexo
{	
	width:50%;
}

#txtEmail input[type=text]
{
	width: 1285px;
}

textarea
{
	width: 1285px;
	height: 100px;
	resize:none;
	border: solid 1px #A88B00;
	overflow: auto;
}

#tblFaleConosco input[type=submit]
{
	width:200px;
	margin-left: 1090px;

}
/**/

/* Ambientes */
#conteudoAmbiente
{
	width: 1500px;
	height: 500px;
	margin-top:100px;
	margin-left: auto;
	margin-right: auto;
	background-color:#2A2A2A;
	border: solid 1px #A88B00;
	border-top: none;
	
}

.conteudoExternoAmbiente
{
	width: 1700px;
	height:740px;	
	
	
	padding-top:100px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../Imagens/Ambientes/bg1.jpg);
	background-position: -200px -80px;
	
	border: solid 1px #A88B00;
	border-top: none;
	
	z-index:-1;
}

.conteudoExternoSobre
{
	width: 1700px;
	height:740px;	
	
	padding-top:100px;
	margin-left:auto;
	margin-right:auto;
	background-position: 0px 135px;
	
	border: solid 1px #A88B00;
	border-top: none;
	
	z-index:-1;
}

.espaco
{
	width:100%;
	height:50px;
	
}

.scrollAmbiente
{
	width: 1230px;
	height: 400px;
	overflow: auto;	
	margin-left: auto;
	margin-right: auto;
}

.infoAmbiente
{
	width:1200px;
	height:150px;
	border: solid 1px #A88B00;
	margin-left:auto;
	margin-right:auto;
}

.infoAmbiente:not(:first-child)
{
		margin-top: 25px;
}

.imgInfoAmbiente
{
	float:left;
	height:150px;
	width:150px;
	border-right: solid 1px #A88B00;
	
}

.imgInfoAmbiente img
{
	width:100%;
	height:100%;
}

.tblAmbienteTitulo
{
	font-size: 14pt;
	text-align:center;
	border-bottom: solid 1px #A88B00;
	

	padding-bottom: 25px;
	height: 20px;
}
.tblInfoAmbiente
{
	width: 1046px;
	float:left;
}

.tblAmbienteRight
{
	text-align:right;
}

.tblInfoAmbiente
{
	height:100%;
}

.tblInfoAmbiente tr
{
	height:20px;
}
/**/

/* Lanche do Mês */
#principalLancheDoMes
{
	width: 1890px;
	height: 1400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	
}

.conteudoExternoLDM
{
	width: 1700px;
	height:1400px;	
	
	
	padding-top:100px;
	margin-left:auto;
	margin-right:auto;
	background-color:#2A2A2A;
	
	border: solid 1px #A88B00;
	border-top: none;
	
	z-index:-1;

}

#imgLancheMes
{
	width: 500px;
	height: 500px;
	
	border: solid 1px #A88B00;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background-color:orange;
}

#imgLancheMes img
{
	width:499px;
	height:500px;
	margin-top: -36px;
}

#precoLancheMes
{
	width:150px;
	height:35px;
	float:right;
	
	background-color: orange;
	border-radius: 0px 0px 0px 100px;
	border-bottom: solid 1px #A88B00;
	border-left: solid 1px #A88B00;
	position: relative;
	text-align: center;
}

#precoLancheMes span
{
	font-size: 18pt;
	color: #2A2A2A;
	font-weight: bold;
}

.descLancheMes
{
	width:1400px;
	height: 100px;
	
	border: solid 1px #A88B00;
	margin-left:auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 40px;
	overflow: auto;
}

.descLancheMes p
{
	text-indent: 40px;
}

#tblNutricionalTitulo
{
	text-align: center;
	background-color: #A88B00;
	color: #2A2A2A;
	border: solid 1px #2A2A2A;
	font-weight: bold;
}

#tblNutricional
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	line-height: 20px;
}

#tblNutricional td
{
	border: solid 1px #A88B00;
}


.tituloLanche
{
	width: 500px;
	height: 40px;
	border: solid 1px #A88B00;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-bottom:none;
}

.tituloLanche h6
{
	font-size: 20pt;
	margin-top: 5px;
	text-align: center;
}
/**/

/* Sobre nós */
#sobrenos
{
	width: 400px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 125px;
	text-align: justify;
}

#sobrenos hr
{
	border: dotted 1px #A88B00;
}

#conteudoSobre
{
	width: 500px;
	height: 500px;
	background-color: #2a2a2a;
	border-radius: 300px;
	border: solid 1px #A88B00;
	margin-left: 5%;
	margin-top: 175px;
	
}
/**/

/* Promoções */
.imgPromocao
{
	width: 500px;
	height: 500px;
	
	border: solid 1px #A88B00;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	position:relative;

}

.imgPromocao img
{
	width:499px;
	height:500px;
	margin-top:-87px;
	margin-left: -1px;

	position: absolute;
	z-index: -5;

}
#tblPromocoes
{
	width:1200px;
	clear: both;
	border: solid 1px #A88B00;
	margin-left: auto;
	margin-right: auto;
	margin-top:150px;
}

#tblPromocoes td
{
	border: solid 1px #A88B00;
	text-align: center;
}

#tblPromocoes th
{
	border: solid 1px #A88B00;
	text-align: center;
}

#tblPromocoes td:hover
{
	background-color:#A88B00;
	color:#2A2A2A;
}


.conteudoExternoPromocao
{
	width: 1700px;
	height: 1000px;	
	
	
	padding-top:100px;
	margin-left:auto;
	margin-right:auto;
	background-color:#2A2A2A;
	
	border: solid 1px #A88B00;
	border-top: none;
	
	z-index:-1;
}

#principalPromocao
{
	width: 1890px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	
}

.scrollPromocao
{
	width: 1700px;
	height: 875px;
	overflow: auto;
	
}

.precoPromocao
{
	width:150px;
	height:80px;
	
	border-radius: 0px 0px 0px 100px;
	border-bottom: solid 1px #A88B00;
	border-left: solid 1px #A88B00;
	float: right;

	z-index: 1;
	position: absolute;
}

.precoNew
{
	font-size: 18pt;
	color: #2A2A2A;
	font-weight: bold;
	margin-top:-25px;
}

.precoOld
{
	text-decoration:line-through;
	font-size: 18pt;
	color: #2A2A2A;
	font-weight: bold;
	margin-top: 5px;
}
/**/

/* Banda em Destaque */
.conteudoExternoBanda
{
	width: 1700px;
	height: 1300px;	
	
	
	padding-top:100px;
	margin-left:auto;
	margin-right:auto;
	background-color:#2A2A2A;
	
	border: solid 1px #A88B00;
	border-top: none;
	
	z-index:-1;
}

#principalBanda
{
	width: 1890px;
	height: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	
}

#tituloBanda
{
	width: 500px;
	height: 40px;
	border: solid 1px #A88B00;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	border-bottom:none;
	border-radius: 50px 50px 0px 0px;

}

#tituloBanda h6
{
	font-size: 20pt;
	margin-top: 5px;
	text-align: center;
}

#imgBanda
{
	width: 1000px;
	height: 562px;
	border: solid 1px #A88B00;
	margin: auto;
}

#imgBanda img
{
	width: 100%;
	height: 100%;
}

#descBanda
{
	width: 1000px;
	height: 500px;
	border: solid 1px #A88B00;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
}

#descBanda p
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-right: auto;
	text-indent: 40px;
	text-align:justify;
	margin-top: 10px;
}
/**/